{#{% load static %}#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://boostroyal.com/manifest.json" rel="manifest" q:head="">
    <link color="#ff9155" href="https://boostroyal.com/lol-boosting/favicons/safari-pinned-tab.svg" rel="mask-icon">
    <title>Up Rank</title>
    <link href="https://boostroyal.com/lol-boosting/" rel="canonical">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" q:head="">
    <link href="https://boostroyal.com/favicon.svg" rel="icon" type="image/svg+xml" q:head="">
    <link rel="stylesheet" href="{{ static('up_rank/q-855046fd.css') }}">

    <!--Style-->
    <style q:style="lcydw1-0" hidden="">:root {
        view-transition-name: none
    }</style>
    <style>:is([id*='google_ads_iframe'],[id*='taboola-'],.taboolaHeight,.taboola-placeholder,#credential_picker_container,#credentials-picker-container,#credential_picker_iframe,[id*='google-one-tap-iframe'],#google-one-tap-popup-container,.google-one-tap-modal-div,#amp_floatingAdDiv,#ez-content-blocker-container) {
        display: none !important;
        min-height: 0 !important;
        height: 0 !important;
    }</style>

    <style id="_goober"> @keyframes go2264125279 {
                             from {
                                 transform: scale(0) rotate(45deg);
                                 opacity: 0;
                             }
                             to {
                                 transform: scale(1) rotate(45deg);
                                 opacity: 1;
                             }
                         }

    @keyframes go3020080000 {
        from {
            transform: scale(0);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes go463499852 {
        from {
            transform: scale(0) rotate(90deg);
            opacity: 0;
        }
        to {
            transform: scale(1) rotate(90deg);
            opacity: 1;
        }
    }

    @keyframes go1268368563 {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes go1310225428 {
        from {
            transform: scale(0) rotate(45deg);
            opacity: 0;
        }
        to {
            transform: scale(1) rotate(45deg);
            opacity: 1;
        }
    }

    @keyframes go651618207 {
        0% {
            height: 0;
            width: 0;
            opacity: 0;
        }
        40% {
            height: 0;
            width: 6px;
            opacity: 1;
        }
        100% {
            opacity: 1;
            height: 10px;
        }
    }

    @keyframes go901347462 {
        from {
            transform: scale(0.6);
            opacity: 0.4;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    .go4109123758 {
        z-index: 9999;
    }

    .go4109123758 > * {
        pointer-events: auto;
    }</style>
    <style data-emotion="css b62m3t-container" data-s="">.css-b62m3t-container {
        position: relative;
        box-sizing: border-box;
    }</style>
    <style data-emotion="css 7pg0cj-a11yText" data-s="">.css-7pg0cj-a11yText {
        z-index: 9999;
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        width: 1px;
        position: absolute;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
    }</style>
    <style data-emotion="css 13cymwt-control" data-s="">.css-13cymwt-control {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: default;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        min-height: 38px;
        outline: 0 !important;
        position: relative;
        -webkit-transition: all 100ms;
        transition: all 100ms;
        background-color: hsl(0, 0%, 100%);
        border-color: hsl(0, 0%, 80%);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
    }

    .css-13cymwt-control:hover {
        border-color: hsl(0, 0%, 70%);
    }</style>
    <style data-emotion="css hlgwow" data-s="">.css-hlgwow {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: grid;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-overflow-scrolling: touch;
        position: relative;
        overflow: hidden;
        padding: 2px 8px;
        box-sizing: border-box;
    }</style>
    <style data-emotion="css 1dimb5e-singleValue" data-s="">.css-1dimb5e-singleValue {
        grid-area: 1/1/2/3;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: hsl(0, 0%, 20%);
        margin-left: 2px;
        margin-right: 2px;
        box-sizing: border-box;
    }</style>
    <style data-emotion="css 1hac4vs-dummyInput" data-s="">.css-1hac4vs-dummyInput {
        background: 0;
        border: 0;
        caret-color: transparent;
        font-size: inherit;
        grid-area: 1/1/2/3;
        outline: 0;
        padding: 0;
        width: 1px;
        color: transparent;
        left: -100px;
        opacity: 0;
        position: relative;
        -webkit-transform: scale(.01);
        -moz-transform: scale(.01);
        -ms-transform: scale(.01);
        transform: scale(.01);
    }</style>
    <style data-emotion="css 1wy0on6" data-s="">.css-1wy0on6 {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        box-sizing: border-box;
    }</style>
    <style data-emotion="css 1u9des2-indicatorSeparator" data-s="">.css-1u9des2-indicatorSeparator {
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        width: 1px;
        background-color: hsl(0, 0%, 80%);
        margin-bottom: 8px;
        margin-top: 8px;
        box-sizing: border-box;
    }</style>
    <style data-emotion="css 1xc3v61-indicatorContainer" data-s="">.css-1xc3v61-indicatorContainer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-transition: color 150ms;
        transition: color 150ms;
        color: hsl(0, 0%, 80%);
        padding: 8px;
        box-sizing: border-box;
    }

    .css-1xc3v61-indicatorContainer:hover {
        color: hsl(0, 0%, 60%);
    }</style>
    <style data-emotion="css 8mmkcg" data-s="">.css-8mmkcg {
        display: inline-block;
        fill: currentColor;
        line-height: 1;
        stroke: currentColor;
        stroke-width: 0;
    }</style>
    <style data-emotion="css b62m3t-container" data-s="">.css-b62m3t-container {
        position: relative;
        box-sizing: border-box;
    }</style>
    <style data-emotion="css 7pg0cj-a11yText" data-s="">.css-7pg0cj-a11yText {
        z-index: 9999;
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        width: 1px;
        position: absolute;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
    }</style>
    <style data-emotion="css 13cymwt-control" data-s="">.css-13cymwt-control {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: default;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        min-height: 38px;
        outline: 0 !important;
        position: relative;
        -webkit-transition: all 100ms;
        transition: all 100ms;
        background-color: hsl(0, 0%, 100%);
        border-color: hsl(0, 0%, 80%);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
    }

    .css-13cymwt-control:hover {
        border-color: hsl(0, 0%, 70%);
    }</style>
    <style data-emotion="css hlgwow" data-s="">.css-hlgwow {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: grid;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-overflow-scrolling: touch;
        position: relative;
        overflow: hidden;
        padding: 2px 8px;
        box-sizing: border-box;
    }</style>
    <style data-emotion="css 1dimb5e-singleValue" data-s="">.css-1dimb5e-singleValue {
        grid-area: 1/1/2/3;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: hsl(0, 0%, 20%);
        margin-left: 2px;
        margin-right: 2px;
        box-sizing: border-box;
    }</style>
    <style data-emotion="css 1hac4vs-dummyInput" data-s="">.css-1hac4vs-dummyInput {
        background: 0;
        border: 0;
        caret-color: transparent;
        font-size: inherit;
        grid-area: 1/1/2/3;
        outline: 0;
        padding: 0;
        width: 1px;
        color: transparent;
        left: -100px;
        opacity: 0;
        position: relative;
        -webkit-transform: scale(.01);
        -moz-transform: scale(.01);
        -ms-transform: scale(.01);
        transform: scale(.01);
    }</style>
    <style data-emotion="css 1wy0on6" data-s="">.css-1wy0on6 {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        box-sizing: border-box;
    }</style>
    <style data-emotion="css 1u9des2-indicatorSeparator" data-s="">.css-1u9des2-indicatorSeparator {
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        width: 1px;
        background-color: hsl(0, 0%, 80%);
        margin-bottom: 8px;
        margin-top: 8px;
        box-sizing: border-box;
    }</style>
    <style data-emotion="css 1xc3v61-indicatorContainer" data-s="">.css-1xc3v61-indicatorContainer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-transition: color 150ms;
        transition: color 150ms;
        color: hsl(0, 0%, 80%);
        padding: 8px;
        box-sizing: border-box;
    }

    .css-1xc3v61-indicatorContainer:hover {
        color: hsl(0, 0%, 60%);
    }</style>
    <style data-emotion="css 8mmkcg" data-s="">.css-8mmkcg {
        display: inline-block;
        fill: currentColor;
        line-height: 1;
        stroke: currentColor;
        stroke-width: 0;
    }</style>
    <style data-emotion="css b62m3t-container" data-s="">.css-b62m3t-container {
        position: relative;
        box-sizing: border-box;
    }</style>
    <style data-emotion="css 7pg0cj-a11yText" data-s="">.css-7pg0cj-a11yText {
        z-index: 9999;
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        width: 1px;
        position: absolute;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
    }</style>
    <style data-emotion="css 13cymwt-control" data-s="">.css-13cymwt-control {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: default;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        min-height: 38px;
        outline: 0 !important;
        position: relative;
        -webkit-transition: all 100ms;
        transition: all 100ms;
        background-color: hsl(0, 0%, 100%);
        border-color: hsl(0, 0%, 80%);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
    }

    .css-13cymwt-control:hover {
        border-color: hsl(0, 0%, 70%);
    }</style>
    <style data-emotion="css hlgwow" data-s="">.css-hlgwow {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: grid;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-overflow-scrolling: touch;
        position: relative;
        overflow: hidden;
        padding: 2px 8px;
        box-sizing: border-box;
    }</style>
    <style data-emotion="css 1dimb5e-singleValue" data-s="">.css-1dimb5e-singleValue {
        grid-area: 1/1/2/3;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: hsl(0, 0%, 20%);
        margin-left: 2px;
        margin-right: 2px;
        box-sizing: border-box;
    }</style>
    <style data-emotion="css 1hac4vs-dummyInput" data-s="">.css-1hac4vs-dummyInput {
        background: 0;
        border: 0;
        caret-color: transparent;
        font-size: inherit;
        grid-area: 1/1/2/3;
        outline: 0;
        padding: 0;
        width: 1px;
        color: transparent;
        left: -100px;
        opacity: 0;
        position: relative;
        -webkit-transform: scale(.01);
        -moz-transform: scale(.01);
        -ms-transform: scale(.01);
        transform: scale(.01);
    }</style>
    <style data-emotion="css 1wy0on6" data-s="">.css-1wy0on6 {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        box-sizing: border-box;
    }</style>
    <style data-emotion="css 1u9des2-indicatorSeparator" data-s="">.css-1u9des2-indicatorSeparator {
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        width: 1px;
        background-color: hsl(0, 0%, 80%);
        margin-bottom: 8px;
        margin-top: 8px;
        box-sizing: border-box;
    }</style>
    <style data-emotion="css 1xc3v61-indicatorContainer" data-s="">.css-1xc3v61-indicatorContainer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-transition: color 150ms;
        transition: color 150ms;
        color: hsl(0, 0%, 80%);
        padding: 8px;
        box-sizing: border-box;
    }

    .css-1xc3v61-indicatorContainer:hover {
        color: hsl(0, 0%, 60%);
    }</style>
    <style data-emotion="css 8mmkcg" data-s="">.css-8mmkcg {
        display: inline-block;
        fill: currentColor;
        line-height: 1;
        stroke: currentColor;
        stroke-width: 0;
    }</style>
    <script src="{{ static('up_rank/v3') }}"></script>
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-babc3d0c.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-927a77c4.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-aeb2a814.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-79506e2c.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-67124dbf.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-3eaca76b.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-ecf7e049.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-059fb4cd.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-eaa928a5.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-82437db8.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-0bfc485d.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-f1e93963.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-593d7dd6.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-86439c94.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-bfc55721.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-c62aabe4.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-5c12f128.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-c6dae603.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-7b23d8eb.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-7466c500.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-24155312.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-1c899b29.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-f0970cea.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-156d4a69.js">
    <style q:style="bcv7o6-3" hidden="">.unranked-bg, .unrated-bg, .wood-bg {
        background: linear-gradient(180deg, rgba(44, 31, 47, .2) 0%, rgba(67, 50, 55, 0) 39.35%), #2F1F31
    }

    .iron-bg {
        background: linear-gradient(180deg, rgba(161, 157, 148, .2) 0%, rgba(67, 50, 55, 0) 39.35%), #2F1F31
    }

    .bronze-bg {
        background: linear-gradient(180deg, rgba(205, 127, 50, .2) 0%, rgba(67, 50, 55, 0) 39.35%), #2F1F31
    }

    .silver-bg, .warrior-bg {
        background: linear-gradient(180deg, rgba(113, 129, 137, .2) 0%, rgba(67, 50, 55, 0) 39.35%), #2F1F31
    }

    .gold-bg {
        background: linear-gradient(180deg, rgba(205, 167, 99, .2) 0%, rgba(67, 50, 55, 0) 39.35%), #2F1F31
    }

    .platinum-bg, .commander-bg {
        background: linear-gradient(180deg, rgba(57, 123, 135, .2) 0%, rgba(67, 50, 55, 0) 39.35%), #2F1F31
    }

    .emerald-bg, .ascendant-bg {
        background: linear-gradient(180deg, rgba(80, 200, 120, .2) 0%, rgba(67, 50, 55, 0) 39.35%), #2F1F31
    }

    .diamond-bg, .legend-bg {
        background: linear-gradient(180deg, rgba(48, 112, 222, .2) 0%, rgba(67, 50, 55, 0) 39.35%), #2F1F31
    }

    .master-bg, .guardian-bg, .gladiator-bg {
        background: linear-gradient(180deg, rgba(128, 29, 161, .2) 0%, rgba(67, 50, 55, 0) 39.35%), #2F1F31
    }

    .grandmaster-bg, .immortal-bg, .vanquisher-bg {
        background: linear-gradient(180deg, rgba(161, 29, 29, .2) 0%, rgba(67, 50, 55, 0) 39.35%), #2F1F31
    }

    .challenger-bg, .radiant-bg {
        background: linear-gradient(180deg, rgba(161, 113, 29, .2) 0%, rgba(67, 50, 55, 0) 39.35%), #2F1F31
    }
    </style>
    <style q:style="8m575l-0" hidden="">
        .tooltip-content.⭐️8m575l-0 {
            position: absolute;
            background: #574D5A !important;
            border-radius: 9px;
            font-size: 16px;
            line-height: 160%;
            padding: 20px !important;
            opacity: 0;
            visibility: hidden;
            transition: all 0.1s ease-in-out;
            display: block !important;
            width: 300px;
        }

        @media (max-width: 599px) {
            .tooltip-content.⭐️8m575l-0 {
                width: 200px;
                font-size: 14px;
                padding: 10px;
            }
        }

        .tooltip-content.⭐️8m575l-0::after {
            content: "";
            position: absolute;
            border-width: 5px;
            border-style: solid;
        }

        .tooltip-content[data-position="top"].⭐️8m575l-0 {
            bottom: 110%;
            left: 50%;
            transform: translateX(-50%);
        }

        .tooltip-content[data-position="top"].⭐️8m575l-0.⭐️8m575l-0::after {
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            border-color: #574D5A transparent transparent transparent;
        }

        .tooltip-content[data-position="right"].⭐️8m575l-0 {
            top: 50%;
            left: 105%;
            transform: translateY(-50%);
        }

        .tooltip-content[data-position="right"].⭐️8m575l-0.⭐️8m575l-0::after {
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
            border-color: transparent #574D5A transparent transparent;
        }

        .tooltip-content[data-position="bottom"].⭐️8m575l-0 {
            top: 105%;
            left: 50%;
            transform: translateX(-50%);
        }

        .tooltip-content[data-position="bottom"].⭐️8m575l-0.⭐️8m575l-0::after {
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            border-color: transparent transparent #574D5A transparent;
        }

        .tooltip-content[data-position="left"].⭐️8m575l-0 {
            top: 50%;
            right: 105%;
            transform: translateY(-50%);
        }

        .tooltip-content[data-position="left"].⭐️8m575l-0.⭐️8m575l-0::after {
            top: 50%;
            right: -10px;
            transform: translateY(-50%);
            border-color: transparent transparent transparent #574D5A;
        }

        .tooltip-content.show.⭐️8m575l-0 {
            opacity: 1;
            visibility: visible;
        }
    </style>
    <style q:style="wah5yh-0" hidden="">
        .react-select-container .react-select__control {
            background: #3D3241;
            color: rgba(255, 255, 255, 0.7);
            padding: 5px 8px 5px 8px;
            border-color: transparent;
            transition: none;
            width: 100%;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1rem;
            white-space: nowrap;
            outline: none;
            box-shadow: none;
        }

        .react-select-container {
        }

        .react-select-container .react-select__control:hover {
            border-color: #4d4d4d;
        }

        .react-select-container .react-select__menu {
            background-color: #231526;
            border: 1px solid #4d4d4d;
            z-index: 999;
        }

        .react-select-container .react-select__option {
            background-color: #231526;
            color: rgba(255, 255, 255, 0.7);
        }

        .react-select-container .react-select__option:hover {
            background: rgba(255, 255, 255, 0.1);
        }

        .react-select-container .react-select__option--is-selected {
            background: rgba(255, 255, 255, 0.1);
        }

        .react-select-container .react-select__option--is-disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

        .react-select-container .react-select__indicator-separator {
            background-color: #4d4d4d;
        }

        .react-select-container .react-select__placeholder,
        .react-select-container .react-select__single-value {
            color: rgba(255, 255, 255, 0.7);
        }

        .react-select-container .react-select__input {
            color: rgba(255, 255, 255, 0.7) !important;
        }

        .react-select-container .react-select__multi-value {
            background-color: rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.7);
        }

        .react-select-container .react-select__multi-value__label {
            color: rgba(255, 255, 255, 0.7);
        }

        .react-select-container .react-select__multi-value__remove:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

        .react-select-container .react-select__group-heading {
            font-weight: bold;
            font-size: 14px;
            color: #fff;
        }

        .react-select-container.groupped .react-select__option {
            padding-left: 25px;
        }
    </style>
    <style q:style="xjaeul-0" hidden="">q-slot.⭐️xjaeul-0 {
        display: none
    }

    q-slotc.⭐️xjaeul-0, q-slotc.⭐️xjaeul-0 > q-slot.⭐️xjaeul-0 {
        display: contents
    }</style>
    <style q:style="htn3pk-0" hidden="">
        .radioLabel.⭐️htn3pk-0 {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .radioLabel.⭐️htn3pk-0 input.⭐️htn3pk-0 {
            opacity: 0;
            position: absolute;
        }

        .radioLabel.⭐️htn3pk-0 span.⭐️htn3pk-0 {
            color: #fff;
        }

        .radioLabel.⭐️htn3pk-0 .control.⭐️htn3pk-0 {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            margin: 0 12px;
            vertical-align: middle;
            background-color: inherit;
            color: #ff9155;
            border: 2px solid rgba(255, 255, 255, .1);
            border-radius: 24px;
        }

        .radioLabel.⭐️htn3pk-0 input:checked.⭐️htn3pk-0 + .control.⭐️htn3pk-0:after {
            content: "";
            display: block;
            position: absolute;
            top: 3px;
            left: 3px;
            width: 10px;
            height: 10px;
            background-color: #ff9155;
            border-radius: 12px;
        }

        .radioLabel.⭐️htn3pk-0 input:checked.⭐️htn3pk-0 + .control.⭐️htn3pk-0 {
            border-color: #ff9155;
        }
    </style>
    <style q:style="4ayoft-0" hidden="">
        .step-content div {
            margin: 10px 0 0 0;
            line-height: 2rem;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .step-content div::before {
            content: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4L4 7L10 1' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A");
            font-size: 12px;
            width: 25px;
            height: 25px;
            padding: 5px;
            padding-top: 7px;
            padding-left: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: rgba(255, 145, 85, 0);
        }
    </style>
    <style q:style="m96g9c-4" hidden="">
        .longcontent-wrapper.⭐️m96g9c-4 {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.625;
            letter-spacing: 0.1px;
            max-height: 700px;
            overflow-y: auto;
        }

        .longcontent-wrapper h3 {
            font-size: 18px;
            font-weight: bold;
            margin: 10px 0 0 0;
            line-height: 3rem;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .longcontent-wrapper h3::before {
            content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12px' height='12px' viewBox='0 0 12 12' version='1.1'%3E%3Cg id='surface1'%3E%3Cpath style=' stroke:none%3Bfill-rule:nonzero%3Bfill:rgb(100%25 100%25 100%25)%3Bfill-opacity:1%3B' d='M 10.863281 1.730469 C 10.679688 1.546875 10.378906 1.546875 10.195312 1.730469 L 4.65625 7.269531 L 1.800781 4.394531 C 1.621094 4.210938 1.320312 4.210938 1.136719 4.394531 L 0.136719 5.394531 C -0.046875 5.578125 -0.046875 5.878906 0.136719 6.0625 L 4.320312 10.269531 C 4.503906 10.453125 4.800781 10.453125 4.984375 10.269531 L 11.859375 3.394531 C 12.046875 3.210938 12.046875 2.910156 11.859375 2.726562 Z M 10.863281 1.730469 '/%3E%3C/g%3E%3C/svg%3E");
            font-size: 12px;
            width: 25px;
            height: 25px;
            padding: 5px;
            padding-top: 10px;
            padding-left: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }

        .longcontent-wrapper p {
            margin: 0 0 15px;
            color: rgba(255, 255, 255, 0.8);
            padding-left: 35px;
        }

        .longcontent-wrapper b {
            color: #ff9155
        }
    </style>
    <style q:style="nwq154-0" hidden="">
        input:-webkit-autofill.⭐️nwq154-0,
        input:-webkit-autofill:hover.⭐️nwq154-0,
        input:-webkit-autofill:focus.⭐️nwq154-0,
        input:-webkit-autofill:active.⭐️nwq154-0 {
            -webkit-box-shadow: 0 0 0 60px #3D3241 inset !important;
            background-color: #3D3241 !important;
            background-clip: content-box !important;
            -webkit-text-fill-color: rgba(255, 255, 255, 0.7) !important;
        }
    </style>
    <style q:style="lkipg2-0" hidden="">
        label.⭐️lkipg2-0 input[type="checkbox"].⭐️lkipg2-0 {
            display: none;
        }

        label.⭐️lkipg2-0 input[type="checkbox"].⭐️lkipg2-0:checked.⭐️lkipg2-0 + .checker.⭐️lkipg2-0 {
            background-position: right center;
        }

        label.⭐️lkipg2-0 .checker.⭐️lkipg2-0 {
            background-image: url("/images/new/checkbox.png");
            background-position: left center;
            background-size: auto 100%;
            width: 20px;
            min-width: 20px;
            height: 20px;
            margin: 5px 5px 5px 0;
            background-repeat: no-repeat;
        }

        label.error.⭐️lkipg2-0 .checkbox-label.⭐️lkipg2-0 {
            color: red;
        }
    </style>
    <style q:style="ffcj5o-0" hidden="">
        .switch.⭐️ffcj5o-0 {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 24px;
            background-color: #2A1B2B;
            border-radius: 20px;
            margin: 2.5px 0;
            cursor: pointer;
        }

        .switch.⭐️ffcj5o-0::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            background-color: #2F1F31;
            top: 2px; /* TO GIVE AN EFFECT OF CIRCLE INSIDE SWITCH. */
            left: 2px;
            transition: all 0.3s;
        }

        /* Checked state */
        .checkboxSwitch:checked.⭐️ffcj5o-0 + .switch.⭐️ffcj5o-0::after {
            left: 20px;
            background-color: #FF9155;
        }

        .checkboxSwitch:checked.⭐️ffcj5o-0 + .switch.⭐️ffcj5o-0 {
            background-color: #2A1B2B;
        }

        /* Disabled state */
        .checkboxSwitch:disabled.⭐️ffcj5o-0 ~ .label.⭐️ffcj5o-0,
        .checkboxSwitch:disabled.⭐️ffcj5o-0 + .switch.⭐️ffcj5o-0 {
            opacity: 0.5;
        }

        /* Hide the input checkbox */
        .checkboxSwitch.⭐️ffcj5o-0 {
            display: none;
        }

        /* Label with sup element */
        .checkboxSwitch:checked.⭐️ffcj5o-0 ~ .label.⭐️ffcj5o-0 .sup.⭐️ffcj5o-0 {
            background: var(--primary-color);
        }

        .checkboxSwitch:checked.⭐️ffcj5o-0 ~ .label.⭐️ffcj5o-0 .sup.green.⭐️ffcj5o-0 {
            background: #40bdab;
        }
    </style>
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-c1c30592.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-9aac1fd1.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-b2f0f866.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-183148d3.js">
    <style>
        body.shimeji-pinned iframe {
            pointer-events: none;
        }

        body.shimeji-select-ie {
            cursor: cell !important;
        }

        #shimeji-contextMenu::-webkit-scrollbar {
            width: 6px;
        }

        #shimeji-contextMenu::-webkit-scrollbar-thumb {
            background-color: rgba(30, 30, 30, 0.6);
            border-radius: 3px;
        }

        #shimeji-contextMenu::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>

    <!--End Style-->
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-31d5a709.js">
    <link rel="modulepreload" as="script" crossorigin="" href="https://boostroyal.com/build/q-f219bdfe.js">

{# Add React #}
    <!-- This is the script providing runtime support for compiled `async`/`await` code -->
    <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.14.0/runtime.min.js"></script>
    <!-- This is what supports JSX compilation (and other transformations) -->
    <script src="https://unpkg.com/@babel/standalone@7.10.3/babel.min.js"></script>

    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script type="text/babel" data-presets="es2017,react,stage-3" src='{{ static('uprank/app.js') }}'></script>
</head>


<!--Body-->
<body class="m-0 bg-deep-purple-2 text-white overflow-y-scroll overflow-x-hidden">
<div id="root"></div>
<header style="transition: padding 0.3s ease-in-out;" class="fixed top-0 w-full py-6 lg:py-3 bg-transparent z-30"
        on:qvisible="q-4f948398.js#_hW[0]
q-4f948398.js#_hW[1]
q-4f948398.js#_hW[2]
q-4f948398.js#_hW[3]" on-window:scroll="q-4f948398.js#s_zjBHDXWCp9c[4 5]" q:id="9">
    <nav class="font-medium lg:static">
        <div class="container flex items-center justify-between h-full w-full relative lg:static">
            <a href="#" title="LoL ELO Boost" class="items-center gap-4 flex"><img alt="BoostRoyal" height="40"
                                                                                   loading="lazy"
                                                                                   src="{{ static('up_rank/logo-icon.svg') }}"
                                                                                   title="BoostRoyal" width="40">
                <img alt="BoostRoyal" height="28" loading="lazy" src="{{ static('up_rank/logo-text.svg') }}"
                     title="BoostRoyal" class="mt-1 sm:hidden h-6" q:key="PK_0">
            </a>
            <div class="flex gap-16 justify-between items-center lg:hidden" q:id="a">
                <div class="flex gap-16">
                    <a href="#" class="flex items-center gap-2 ltr" q:key="PK_1">
            <span class="flex relative">
              <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-secondary opacity-75"></span>
              <span class="relative inline-flex rounded-full h-2 w-2 bg-secondary"></span>
            </span>
                        <div class="flex items-center gap-1 font-medium duration-300 lg:text-xs lg:font-medium lg:py-[10px] hover:text-primary">
                            <div>5</div>
                            <div>thành viên</div>
                        </div>
                    </a>
                    <div class="flex items-center font-medium duration-300 lg:text-xs lg:font-medium lg:gap-2 lg:py-[10px] hover:text-primary"
                         q:key="0">
                        <a href="#" title="Premium" class="">VIP Only</a>
                    </div>
                    <div class="flex items-center font-medium duration-300 lg:text-xs lg:font-medium lg:gap-2 lg:py-[10px] hover:text-primary"
                         q:key="1">
                        <a href="#" title="Loyalty" class="">Đánh giá</a>
                    </div>
                    <div class="flex items-center font-medium duration-300 lg:text-xs lg:font-medium lg:gap-2 lg:py-[10px] hover:text-primary"
                         q:key="2">
                        <a href="#" title="Support" class="">Hỗ trợ</a>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-end cursor-pointer">
                <div>
                    <svg fill="none" height="19" viewBox="0 0 16 19" width="16" xmlns="http://www.w3.org/2000/svg"
                         on:click="q-9996dfce.js#s_JHZ2u4sHeR0[0]" q:id="e">
                        <path d="M1 17.4083V16.4083C1 14.5517 1.7375 12.7713 3.05025 11.4585C4.36301 10.1458 6.14348 9.40826 8 9.40826M8 9.40826C9.85652 9.40826 11.637 10.1458 12.9497 11.4585C14.2625 12.7713 15 14.5517 15 16.4083V17.4083M8 9.40826C9.06087 9.40826 10.0783 8.98684 10.8284 8.23669C11.5786 7.48655 12 6.46913 12 5.40826C12 4.3474 11.5786 3.32998 10.8284 2.57984C10.0783 1.82969 9.06087 1.40826 8 1.40826C6.93913 1.40826 5.92172 1.82969 5.17157 2.57984C4.42143 3.32998 4 4.3474 4 5.40826C4 6.46913 4.42143 7.48655 5.17157 8.23669C5.92172 8.98684 6.93913 9.40826 8 9.40826Z"
                              stroke="#FF9155" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                    </svg>
                </div>
                <div style="margin-right: -10px" class="p-4" on:click="q-4f948398.js#s_a00KBbouX58[0]" q:id="f">
                    <svg fill="none" height="17" viewBox="0 0 20 17" width="20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 15.4083H4.5M19 8.40826H6M19 1.40826H1" stroke="#FF9155" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="1.5"></path>
                    </svg>
                </div>
            </div>
        </div>
    </nav>
</header>

{% block content %}
{% endblock %}

</body>
</html>