[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "*"
gunicorn = "*"
djangorestframework = "*"
django-oauth-toolkit = "*"
psycopg2 = "*"
jinja2 = "*"
django-jinja = "*"

[dev-packages]

[requires]
python_version = "3.12"
