{% extends 'signin_base.jinja' %}

{% block form-sign-in %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
{#        <label class="flex flex-col gap-2">#}
{#            <div class="cursor-pointer text-white leading-5">#}
{#                Email or username#}
{#            </div>#}
{#            <input class="bg-[#3D3241] text-white/70 outline-none rounded-lg min-w-0 w-full px-4 py-3"#}
{#                   autocomplete=""#}
{#                   name=""#}
{#                   placeholder="example@email.com"#}
{#                   required=""#}
{#                   type="text"/>#}
{#        </label>#}
{#        <label class="flex flex-col gap-2">#}
{#            <div class="cursor-pointer text-white leading-5">#}
{#                Password#}
{#            </div>#}
{#            <input class=" bg-[#3D3241] text-white/70 outline-none rounded-lg min-w-0 w-full px-4 py-3"#}
{#                   autocomplete=""#}
{#                   name=""#}
{#                   type="password"/>#}
{#        </label>#}
        <div class="text-primary text-right mt-2 cursor-pointer">
            Forgot password?
        </div>
        <button class="w-full" type="submit">
            <div class="font-bold flex items-center justify-center text-center cursor-pointer text-base whitespace-nowrap duration-300 rounded-3xl leading-tight bg-primary bg-opacity-10 hover:bg-primary hover:text-white border-transparent text-white bg-primary-gradient block mt-8"
                 style="padding: 10px 28px; backdrop-filter: blur(8px)"
            >
                Sign in
            </div>
        </button>
    </form>

{% endblock %}